{% extends "base.html" %}
{% load static %}
{% block title %}Список фильмов{% endblock %}
{% load movie_tag %}

{% block content %}
<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1> все фильмы</h1>
					<ul class="breadcumb">
						<li class="active"><a href="/">Главная</a></li>
						<li> <span class="ion-ios-arrow-right"></span> список фильмов</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single movie_list">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="topbar-filter">
					<p>Найдено <span>{% get_movies_count %} фильма</span></p>
					<label>Сортировать по:</label>
					<select>
						<option value="popularity">Popularity Descending</option>
						<option value="popularity">Popularity Ascending</option>
						<option value="rating">Rating Descending</option>
						<option value="rating">Rating Ascending</option>
						<option value="date">Release date Descending</option>
						<option value="date">Release date Ascending</option>
					</select>
					<a href="movielist.html" class="list"><i class="ion-ios-list-outline active"></i></a>
					<a  href="moviegrid.html" class="grid"><i class="ion-grid"></i></a>
				</div>
				{% for movie in movie_list %}
				<div class="movie-item-style-2">
					<img src="{{ movie.poster.url }}" alt="">
					<div class="mv-item-infor">
						<h6><a href="{{ movie.get_absolute_url }}">{{ movie.title }} <span>({{ movie.year }})</span></a></h6>
						<p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>
						<p class="describe"> {{ movie.description|safe|truncatewords:15  }}</p>
						<p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Премьера в мире: {{ movie.world_premiere }}</span></p>
						<p>Режиссер: <a href="#">{% for director in movie.directors.all %}{{ director.name }},{% endfor %}</a></p>
						<p>Актеры: <a href="#">{% for actor in movie.actors.all %}{{ actor.name }},{% endfor %}</a></p>
					</div>
				</div>
				{% endfor %}
				<div class="topbar-filter">
			{% include 'inc/pagination.html' %}
				</div>

			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="sidebar">
					<div class="searh-form">
						<h4 class="sb-title">Search for movie</h4>
						<form class="form-style-1" action="{% url 'filter' %}" method="get">
							<div class="row">
								<div class="col-md-12 form-it">
									<label>Movie name</label>
									<input type="text" placeholder="Enter keywords">
								</div>
								<div class="col-md-12 form-it">
									<label>Жанры</label>
									<div class="group-ip">
											{% for genre in view.get_genres %}
										    <span class="yearFilter">{{ genre.name }}</span>
											<input type="checkbox" class="checked" name="genre" value="{{ genre.id }}">
											{% endfor %}
									</div>
								</div>
								<div class="col-md-12 form-it">
									<label>Rating Range</label>

									 <select>
										<option value="range">-- Select the rating range below --</option>
										<option value="saab">-- Select the rating range below --</option>
										<option value="saab">-- Select the rating range below --</option>
										<option value="saab">-- Select the rating range below --</option>
									</select>

								</div>
								<div class="col-md-12 form-it">
									<label>Год выпуска</label>
									<div class="row">
										<div class="col-md-6">
											<li class="editContent">
												{% for movie in view.get_years %}
												<span class="yearFilter">{{ movie.year }}</span>
												<input type="checkbox" class="checked" name="year" value="{{ movie.year }}">
												{% endfor %}
											</li>
										</div>
									</div>
								</div>
								<div class="col-md-12 ">
									<input class="submit" type="submit" value="submit">
								</div>
							</div>
						</form>
					</div>
					<div class="ads">
						<img src="images/uploads/ads1.png" alt="">
					</div>
					<div class="sb-facebook sb-it">
						<h4 class="sb-title">Find us on Facebook</h4>
						<iframe src="#" data-src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftemplatespoint.net%2F%3Ffref%3Dts&tabs=timeline&width=340&height=315px&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=true&appId"  height="315" style="width:100%;border:none;overflow:hidden" ></iframe>
					</div>
					<div class="sb-twitter sb-it">
						<h4 class="sb-title">Tweet to us</h4>
						<div class="slick-tw">
							<div class="tweet item" id=""><!-- Put your twiter id here -->
							</div>
							<div class="tweet item" id=""><!-- Put your 2nd twiter account id here -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}